.colorspan {
    font-weight: 600;
    font-size: 18px;
    text-align: right;
}

.largeish {
    font-weight: 600;
    font-size: 18px;
}

.bold {
    font-weight: 600;
}

.entryFormRow {
    margin-bottom: 20px;
}

td {
    vertical-align: middle;
}

th {
    vertical-align: middle;
}

.custom-tab li a {
    margin: 0px 0 0 10px;
    border-color: #000;
    box-shadow: 3px 3px 0 0 var(--bs-border-color);
    transition: all 0.3s;
    transform: translate(-3px, -3px);
    background-color: rgb(162, 228, 54);
    border-radius: 5px;
}

.event-schedule-area-two ul.custom-tab li a.active {
    background-color: #000;
    color: white;
}

.mainnav {
    margin-bottom: 20px;
}
